# build artifacts
/agr
/desktop
apps/desktop/build/bin/

# OS
.DS_Store

# Android build artifacts
apps/android/.gradle/
apps/android/build/
apps/android/app/build/
apps/android/local.properties
apps/android/app/libs/*.aar
apps/android/app/libs/mobilebridge-sources.jar
